{% extends 'testy/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>

<hr>

      <form action="{% url 'testy.views.folder_add_submit' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" value="Název složky" class="folder_title">

        <h2>Testy v této složce</h2>

        <ul>
        {% for t in tests %}
        <li><label><input type="checkbox" name="t{{ t.id }}" value="{{ t.id }}">{{ t.title }}</label></li>
        {% endfor %}
        </ul>
        <hr>
        <p class="buttons">
            <button class="button_submit" type="submit">Uložit</button>
        </p>
      </form>
{% endblock %}

