{% extends 'testy/base.html' %}

{% block content %}
{% load testy_extras %}
{% block copy_title %}
{% endblock %}

<hr>

{% block form_header %}
{% endblock %}

<label for="new_user">Vyberte uživatele: </label>
<select name="new_user_id" id="new_user_id">
  {% for user in all_users|order_by:"last_name,first_name" %}
    <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</option>
  {% endfor %}
</select>

<hr>

<p class="buttons">
  <button class="button_submit" type="submit">Kopírovat</button>
</p>

</form>

{% endblock %}
