{% extends 'testy/base.html' %}

{% block title %}{{ page_title }}{% endblock %}
{% load testy_extras %}
{% load humanize %}
{% block content %}
<h1>{{ page_header }}</h1>

        <hr>

        <p><a href="{% url 'testy.views.test_add' %}"><button class="paulund_buttons add">Přidat test</button></a></p>
        <p><a href="{% url 'testy.views.folder_add' %}"><button class="paulund_buttons add">Přidat složku</button></a></p>

        <table id="tests_list" class="items_list">
            {% for f in folders|order_by:"-created" %}
            <tr class="folder">
                <td class="title" colspan="3"><a href="{% url 'testy.views.folder_display' folder_url=f.get_url_key %}"><strong><em>{{f.title}} ({{ f.test_set.count|czech_declination:"test,testy,testů" }})</em></strong></a></td><td class="edit"><a href="{% url 'testy.views.folder_edit' folder_url=f.get_url_key %}">Upravit</a></td><td class="delete"><a href="{% url 'testy.views.folder_delete' folder_url=f.get_url_key %}">Smazat</a></td>
            </tr>
            {% endfor %}
            {% for t in tests|order_by:"-created" %}
            <tr class="test">
                <td class="title"><a href="{% url 'testy.views.test_display' test_url=t.get_url_key %}">{{t.title}}</a></td><td class="date">{{t.created|naturaltime}}</td><td class="solutions"><a href="{% url 'testy.views.solution_display_all' test_url=t.get_url_key %}">Řešení</a></td><td class="edit"><a href="{% url 'testy.views.test_edit' test_url=t.get_url_key %}">Upravit</a></td><td class="delete"><a href="{% url 'testy.views.test_delete' test_url=t.get_url_key %}">Smazat</a></td>
            </tr>
            {% endfor %}

        </table>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
        $(document).ready(function() {
            $("#tests_list .test .delete a").click(function() { return confirm('Opravdu si přejete smazat tento test?'); });
            $("#tests_list .folder .delete a").click(function() { return confirm('Opravdu si přejete smazat tuto složku? Smazáním složky se nesmažou žádné Vaše testy.'); });
     	});
</script>
{% endblock %}
