{% extends 'testy/test_form_base.html' %}

{% block title %}{{ title }} &mdash; {{test.title}} {% endblock %}
{% load testy_extras %}
{% block content %}


        <form name="test_form" action="{% url 'testy.views.test_edit_submit' test_url=test.get_url_key %}" method="post" enctype="multipart/form-data" class="test">
        {% csrf_token %}
        <input type="text" name="title" value="{{ test.title }}" class="test_title">

        <hr>

        <p>
            <label><input type="radio" name="test_type" value="exercise" {% if test.exercise %}checked{% endif %}>Cvičení</label>
            <label><input type="radio" name="test_type" value="test" {% if test.exercise %} {% else %}checked{% endif %}>Písemka</label>
        </p>

        <p>
            <label>
                Složka
                <select name="folder" class="folder">
                    <option value=""
                    {% if test.folder %}
                    {% else %}
                    selected="selected"
                    {% endif %}
                    >--- Žádná složka ---</option>
                {% for folder in folders %}
                <option value="{{ folder.id }}"
                {% ifequal test.folder folder %}
                selected="selected"
                {% endifequal %}
                >{{ folder.title }}</option>
                {% endfor %}
                </select>
            </label>
        </p>

        <textarea name="desc" class="test_description">{{ test.desc }}</textarea>

        <input type="hidden" name="num_questions" class="question_counter" value="{{ test.question_set.all|length }}">

        <ol class="test">
            {% for q in test.question_set.all|order_by:"order" %}
            <li class="question">
                <input type="hidden" name="q{{forloop.counter}}_num_responses" class="response_counter" value="{{ q.questionresponse_set.all|length }}">
                <input type="hidden" name="q{{forloop.counter}}_id" class="question_id" value="{{q.id}}">
                <table class="title"><tr>
                <td class="title"><textarea name="q{{ forloop.counter }}">{{ q.text }}</textarea></td>
                <td><button class="paulund_buttons delete delete_question" type="button"></button></td></tr>
                </table>

                {% if q.image %}
                <p class="image"><a href="{{ q.image.url }}" rel="group" class="fancybox">Aktuální obrázek</a><br><label class="delete_image"><input type="checkbox" name="q{{ forloop.counter }}-deleteimage">Smazat obrázek</label></p>
                {% endif %}

                <label class="load_image">Nahrát nový obrázek: <input type="file" name="q{{ forloop.counter }}-image"></label>
                <p><label class="multiple_choice"><input type="checkbox" name="q{{ forloop.counter }}-multiplechoice" {% if q.multiple_answers %}checked{% endif %}>Více správných odpovědí</label></p>
                <button class="paulund_buttons add add_image" type="button">Přidat obrázek</button>
                <ol>
                    {% for r in q.questionresponse_set.all|order_by:"order" %}
                    <li>

                        <input type="hidden" name="q{{forloop.parentloop.counter}}-r{{forloop.counter}}_id" class="response_id" value="{{r.id}}">
                        <table><tr>
                        {% if q.multiple_answers %}
                        <td><input type="checkbox" name="q{{ forloop.parentloop.counter }}-r{{ forloop.counter }}-correct" value="{{ forloop.counter }}" {% if r.correct %}checked{% endif %}></td>
                        {% else %}
                        <td><input type="radio" name="q{{ forloop.parentloop.counter }}-correct" value="{{ forloop.counter }}" {% if r.correct %}checked{% endif %}></td>
                        {% endif %}
                        <td class="response"><input type="text" name="q{{ forloop.parentloop.counter }}-r{{ forloop.counter }}" value="{{ r.text }}"></td>
                        <td><button class="paulund_buttons delete" type="button"></button></td>
                        </tr></table>
                    </li>
                    {% endfor %}
                </ol>
                <button class="paulund_buttons add add_response" type="button">Přidat odpověď</button>
            </li>
            {% endfor %}

        </ol>
        <p><button class="paulund_buttons add add_question" type="button">Přidat otázku</button></p>

        <hr>
        <p class="buttons">
            <button class="button_submit" type="submit">Uložit</button>
        </p>


        </form>

{% endblock %}
