<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="test.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <div id="main">
        <div id="personal_menu">
            <p><img src="testy_gymvod_title.png" height="28" alt="Testy Gymvod"></p>
            <ul>
                <li><a href="/testy/">Testy</a></li>
                <li>|</li>
                <li>
                    <a href="#">Luděk Cigler ▾</a>
                    <ul>
                        <li><a href="/profil/">Profil</a></li>
                        <li><a href="/logout/">Odhlásit se</a></li>
                    </ul>
            </ul>
            
        </div>
        <div id="content">
        <h1>Seznam testů</h1>

        <hr>

        <table id="tests_list" class="items_list">
            <tr>
                <td class="title"><a href="">Zeměpis Španělsko</a></td><td class="date">2.9.2013</td><td class="solutions"><a href="">Řešení</a></td><td class="edit"><a href="">Upravit</a></td><td class="delete"><a href="">Smazat</a></td>
            </tr>

            <tr>
                <td class="title"><a href="">Zeměpis Španělsko</a></td><td class="date">2.9.2013</td><td class="solutions"><a href="">Řešení</a></td><td class="edit"><a href="">Upravit</a></td><td class="delete"><a href="">Smazat</a></td>
            </tr>

        </table>

        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Add jQuery library -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <!-- jQuery Validation Plugin -->
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

        <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <!-- Add fancyBox -->
        <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            /*var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));*/
        </script>

        <!-- Activate FancyBox display of images -->
        <script type="text/javascript">
        	$(document).ready(function() {
    		    $(".fancybox").fancybox();
     	    });

            $("#form_test").validate({
                showErrors: function (errorMap, errorList) {
                    $("#personal_info label").removeClass("error");
                    if (errorList.length > 0) {
                        $("#personal_info_error").css("display", "block");
                    } else {
                        $("#personal_info_error").css("display", "none");
                    }
                    for (i = 0; i < errorList.length; ++i) {
                        $(errorList[i].element).parent().addClass("error");
                    }
                }
            });
        </script>
        </div>
    </body>
</html>
