<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="test.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <div id="main">
        <div id="personal_menu">
            <p><img src="testy_gymvod_title.png" height="28" alt="Testy Gymvod"></p>
            <ul>
                <li><a href="/testy/">Testy</a></li>
                <li>|</li>
                <li>
                    <a href="#">Luděk Cigler ▾</a>
                    <ul>
                        <li><a href="/profil/">Profil</a></li>
                        <li><a href="/logout/">Odhlásit se</a></li>
                    </ul>
            </ul>
            
        </div>
        <div id="content">
        <h1>Zeměpis Španělsko</h1>

        <hr>

        <p class="test_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non ante at libero vehicula eleifend nec sit amet metus. Curabitur at neque at justo suscipit congue placerat quis velit. Ut non odio vitae eros mollis cursus quis sit amet felis.</p>

        <form name="test" action="/testy/submit/" id="form_test" method="post">
        <ol class="test">
            <li class="question">Tri nejvetsi mesta Spanelska
                <ol>
                    <li><label><input type="radio" name="q1" value="1">Madrid, Barcelona, Sevilla</label></li>
                    <li><label><input type="radio" name="q1" value="2">Madrid, Barcelona, Valencia</label></li>
                    <li><label><input type="radio" name="q1" value="3">Madrid, Barcelona, Malaga</label></li>
                </ol>
            </li>

            <li class="question">Rozloha Španělska?
                <ol>
                    <li><label><input type="radio" name="q2" value="1">504000km</label></li>
                    <li><label><input type="radio" name="q2" value="2">604000km</label></li>
                    <li><label><input type="radio" name="q2" value="3">704000km</label></li>
                </ol>
            </li>

            <li class="question">Kolik obyvatel má Madrid?
                <p class="image"><a href="madrid.jpg" rel="group" class="fancybox"><img src="madrid.jpg" alt="Madrid"></a></p>
                <ol>
                    <li><label><input type="radio" name="q3" value="1">2 mil</label></li>
                    <li><label><input type="radio" name="q3" value="2">3 mil</label></li>
                    <li><label><input type="radio" name="q3" value="3">4 mil</label></li>
                </ol>
            </li>

            <li class="question">Které řeky tečou Španělskem?
                <ol>
                    <li><label><input type="checkbox" name="q3-1" value="1">$$\frac {\frac {a^2} {a^3}} {a^4}$$</label></li>
                    <li><label><input type="checkbox" name="q3-2" value="2">Tajo</label></li>
                    <li><label><input type="checkbox" name="q3-3" value="3">Rhone</label></li>
                </ol>
            </li>

        </ol>
        <hr>
        <p id="personal_info_error">Prosím, vyplňte Vaše osobní ůdaje:</p>
        <table id="personal_info">
        <tr>
            <td><label class="first_name">Vaše jméno*<br><input type="text" name="first_name" required></label></td>
            <td><label class="surname">Příjmení*<br><input type="text" name="surname" required></label></td>
        </tr>
        <tr>
            <td colspan="2"><label class="email">Email*<br><input type="email" name="email" required></label></td>
        </tr>
        </table>
        <p class="buttons">
            <button class="button_reset" type="reset">Vymazat</button>
            <button class="button_submit" type="submit">Odeslat</button>
        </p>
        
        </form>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Add jQuery library -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <!-- jQuery Validation Plugin -->
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

        <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <!-- Add fancyBox -->
        <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            /*var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));*/
        </script>

        <!-- Activate FancyBox display of images -->
        <script type="text/javascript">
        	$(document).ready(function() {
    		    $(".fancybox").fancybox();
     	    });

            $("#form_test").validate({
                showErrors: function (errorMap, errorList) {
                    $("#personal_info label").removeClass("error");
                    if (errorList.length > 0) {
                        $("#personal_info_error").css("display", "block");
                    } else {
                        $("#personal_info_error").css("display", "none");
                    }
                    for (i = 0; i < errorList.length; ++i) {
                        $(errorList[i].element).parent().addClass("error");
                    }
                }
            });
        </script>
        </div>
    </body>
</html>
